html {
  font-size: $font-size;
}

body {
  font-size: $font-size;
  font-family: $font-main;
}

h1 {
  font-family: $font-header;
  font-size: 3rem;
  margin-top: -$gap / 2;
  margin-bottom: $gap * 3;

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    margin: 40px 15px;
    background-color: $color-accent;

  }
}

a {
  color: $color-primary;

  &:hover {
    color: $color-accent;
    text-decoration: none;
  }
}
