%text-shadow {
  text-shadow: 0 0 5px darken($color-dark, 15%), 0 0 20px darken($color-dark, 15%);
}

%abs-position {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
}

%title-head {
  font-family: $font-header;
  margin-top: -$gap / 2;
  margin-bottom: $gap * 3;
}

%bf-af-line {
  content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: $color-header-line;
}